.container {
  min-height: 100vh;
}

//w-[1000px] m-auto pt-[130px] flex justify-center gap-3 cursor-pointer

.categoryBar {
  width: 100%;
  margin: auto;
  padding: 20px 0 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

//max-w-[1000px] m-auto mt-12

.menuWrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  @media (max-width: 768px) {
    padding: 20px 20px;
  }
}
