.section {
  background-color: #f2eee3;
  padding-bottom: 20px;

  .container {
    background-color: black;
    border-radius: 10px;
    padding: 20px 20px;
  }

  .header {
    font-family: var(--font-forum);
    font-size: 40px;
    color: white;
  }
}
