.section {
  background-color: #f2eee3;
  max-width: none;
  // margin: auto;
  padding-bottom: 20px;
  padding-left: calc(50vw - 1244px / 2);
  padding-right: calc(50vw - 1244px / 2);

  @media (max-width: 768px) {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .container {
    background-color: black;
    border-radius: 10px;
    padding: 20px 20px;
    @media (max-width: 768px) {
      border-radius: 0px;
    }
  }

  .header {
    font-family: var(--font-forum);
    font-size: 40px;
    color: white;
  }
}
