:root {
    --color-bg: #F2EEE4;
    --color-bg-secondary: #EBE7DC;

    --color-green: #5F6952;
    --color-dark-green: #3D4338;
    --color-beige: #EFE7D2;
    --color-orange: #DE803D;

    --shadow-hard: 0px 22px 500px rgba(128, 128, 128, 0.04), 0px 9.19107px 208.888px rgba(128, 128, 128, 0.0287542), 0px 4.91399px 111.682px rgba(128, 128, 128, 0.0238443), 0px 2.75474px 62.6078px rgba(128, 128, 128, 0.02), 0px 1.46302px 33.2505px rgba(128, 128, 128, 0.0161557);
}