.reviewTextContainer {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;

  @media (max-width: 768px) {
    order: 0;
  }
}

.reviewImagesContainer {
  @media (max-with: 768px) {
    order: 1;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}

.image1 {
  width: 14.9375rem;
  height: 12.9375rem;
}

.image2 {
  width: 15.125rem;
  height: 19.375rem;
}

.image3 {
  width: 19.9375rem;
  height: 25.625rem;
}

.image4 {
  width: 14.9375rem;
  height: 10rem;
}
